<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a5a5lab.fapp.contactcompanies.ContactCompaniesDao">

	<resultMap id="resultMapObj" type="com.a5a5lab.fapp.contactcompanies.ContactCompaniesDto"></resultMap>
	  
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
			main,
		   companyName,
		   departmentName,
		   positionName,
		   contact_seq
		FROM
		    contactcompanies
		WHERE 1=1
		ORDER BY seq DESC	
	</select>	  
	
	<select id="selectOne" rusultMap="resultMapObj">
		SELECT
			seq,
			main,
			cpmpanyName,
			departmentName,
			positionName,
			contact_seq
		FROM
			contactcompanies
		WHERE 1=1
			AND seq=#{seq}	
		ORDER BY seq DESC
	</select>
	
	<insert id="insert">
		INSERT into contactcompanies (
			main,
			companyName,
			departmentName,
			positionName,
			contact_seq
		) values(
			#{main}
			#{companyName}
			#{dapartmentName}
			#{positionName}
			#{contact_seq}		
			)
		
		<selectKey resulType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>	  	  
</mapper>