<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a5a5lab.fapp.contact.ContactDao">

	<resultMap id="resultMapObj" type="com.a5a5lab.fapp.contact.ContactDto"></resultMap>
	  
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
			navertId,
			photoImage,
			honorificTitle,
			lastName,
			middleName,
			firstname,
			title,
			nickName,
			memo
		FROM
		    contact
		WHERE 1=1
		<!--AND delNy=0-->
		ORDER BY seq DESC	
	</select>	 
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			navertId,
			photoImage,
			honorificTitle,
			lastName,
			middleName,
			firstname,
			title,
			nickName,
			memo
		FROM
			contact
		WHERE 1=1
		AND seq=#{seq}
	</select>
	
		<insert id="insert">
		INSERT INTO contact
		(
			navertId,
			photoImage,
			honorificTitle,
			lastName,
			middleName,
			firstname,
			title,
			nickName,
			memo
		)
		VALUES
		(
			#{navertId},
			#{photoImage},
			#{honorificTitle},
			#{lastName},
			#{middleName},
			#{firstname},
			#{title},
			#{nickName},
			#{memo}
		)		
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>		
	 
	 <update id="update">
	 	UPDATE contact SET
	 		navertId=#{navertId},
			photoImage=#{photoImage},
			honorificTitle=#{honorificTitle},
			lastName=#{lastName},
			middleName=#{middleName},
			firstname=#{firstname},
			title=#{title},
			nickName=#{nickName},
			memo=#{memo}
	 	WHERE seq=#{seq}	
	 </update>	
	 
	 <delete id="delete">
	 	DELETE FROM contact
	 	where seq=#{seq}
	 </delete>
	 
 	<update id="uelete">s
	 	UPDATE contact SET
	 		delNy=1 
 		WHERE seq=#{seq}
	 </update>
	  	  
</mapper>
