<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a5a5lab.fapp.group1.Group1Dao">

	<resultMap id="resultMapObj" type="com.a5a5lab.fapp.group1.Group1Dto"></resultMap>
	  
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
			name
		FROM
		    group1
		WHERE 1=1		
		ORDER BY seq DESC	
	</select>	
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			name
		FROM
		    group1
		WHERE 1=1	
			AND	seq=#{seq}
		ORDER BY seq DESC	
	</select>
	
	<insert id="insert">
		INSERT into group1 (
			name
		) values(
			#{name}
			)    <!-- seq, colum num 등 auto increment 생략 가능-->
			
		<selectKey resulType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>			
	</insert>	  	  
</mapper>