<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	
<table>
	<tr>
		<td>seq</td>
		<td>navertId</td>
		<td>photoImage</td>
		<td>honorificTitle</td>
		<td>lastName</td>
		<td>middleName</td>
		<td>firstname</td>
		<td>title</td>
		<td>nickName</td>
		<td>memo</td>
	</tr>
	<tr th:each="list:${list}"> 
		<td th:text="${list.seq}"></td>
		<td><a th:href="@{/contact/contactXdmView(seq=${list.seq})}" th:text="${list.navertId}"></a></td>
		<td><a th:href="@{/contact/contactXdmView(seq=${list.seq})}" th:text="${list.photoImage}"></a></td>
		<td><a th:href="@{/contact/contactXdmView(seq=${list.seq})}" th:text="${list.honorificTitle}"></a></td>
		<td><a th:href="@{/contact/contactXdmView(seq=${list.seq})}" th:text="${list.lastName}"></a></td>
		<td><a th:href="@{/contact/contactXdmView(seq=${list.seq})}" th:text="${list.middleName}"></a></td>					
		<td><a th:href="@{/contact/contactXdmView(seq=${list.seq})}" th:text="${list.firstname}"></a></td>			
		<td><a th:href="@{/contact/contactXdmView(seq=${list.seq})}" th:text="${list.title}"></a></td>			
		<td><a th:href="@{/contact/contactXdmView(seq=${list.seq})}" th:text="${list.nickName}"></a></td>			
		<td><a th:href="@{/contact/contactXdmView(seq=${list.seq})}" th:text="${list.memo}"></a></td>			
	</tr>
</table>
<br>

<a href="/contact/contactXdmForm">등록</a>

</body>
</html>